<?xml version="1.0"?>
<launch>

    <!-- send urdf to param server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rob_bot)/urdf/rob_bot.xacro'" />

    <!-- Send fake joint values-->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="false"/>
    </node>

    <!-- Send robot states to tf -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

    <!--teleop provided by udacity -->
    <node pkg="rob_bot" type="teleop" name="teleop" output="screen">
        <param name="scale_linear" value="0.5" type="double"/>
        <param name="scale_angular" value="1.5" type="double"/>
        <remap from="teleop/cmd_vel" to="cmd_vel"/>
    </node>

</launch>